{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LoL Meme Me</title>
</head>

<body>
</body>
</html>
{{end}}

{{define "footer"}}
<p>
  Created by Joshua Johnson to get back at his friends who keep calling him trash in League of Legends.
</p>
{{end}}
