{{template "header"}}
<h1>LoL Meme Me</h1>
<form action="/memed" method="post">
  <input type="text" name="summonerName" id="summonerName" placeholder="Summoner Name">
  <input type="text" name="championName" id="championName" placeholder="Champion Name">
  <input type="submit" value="Meme me">
</form>
{{template "footer"}}
